.hmc_font_heading{
    font-size: 30;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    margin: auto;
}

.hmc_font{
    color: "#ffffff";
    font-size: 18;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 1px 1px;
  width: 12em;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button5 {
  background-color: lightgrey;
  color: black;
  width: 11em;
  border: 2px solid #555555;
}

.button_wsdot{
  background-color: #007b5f;
  color: whitesmoke;
  border: 2px solid black;
  height: 5em;
}

.button_odot {
  background-color: #6b923d;
  color: whitesmoke;
  border: 2px solid black;
  height: 5em;
}

.button_generic {
  background-color: #12f0f2;
  color: darkblue;
  border: 2px solid black;
  height: 5em;
}

.button5:hover {
  background-color: #555555;
  color: gold;
}

.hmchead {
    width: 52em;
    margin: auto;
    padding: 5px;
}

.widepod {
    width: 48em;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pod {
    
}

.infotable{
    flex-wrap: wrap;
    width: 16em;
    padding: 2px;
    float: left;
}

.center{
    width: 40em;
    margin: auto;
    padding: 10px;
}

.center_image {
    display: flex;
    justify-content: center;
    z-index: -1;
    position: relative;
}

.menu {
    width: 10em;
    float: left;
    z-index: 1;
    position: fixed;
}

.menuitem {
    width: 12em;
    float: left;
}

a:hover {
    color: #ffff00;
}

.himph {
  width: 200px;
  height: 150px;
}

#plate {
  display: block;
  background-color: #f6d006;
  border: 5px solid black;
  border-radius: 20px;
}
  
#number {
  text-align: center;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}